<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Red Performance - @ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/images/favicon.ico" sizes="16x16">
    <link rel="icon" type="image/png" href="~/images/favicon.ico" sizes="32x32">
    <link rel="icon" type="image/png" href="~/images/favicon.ico" sizes="96x96">


    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="hidden-xs">
        <div class="container">
            <div class="flexbox-container">
                <div class="item">
                    <a asp-controller="Home" asp-action="Index">
                        <img class="img-responsive" src="~/images/Logo.svg" width="300" />
                    </a>
                </div>
                <div class="item">
                    <ul class="list-unstyled">
                        <li>Email: <a href="mailto:zeketiki@gmail.com">Customer Support</a></li>
                        <li>Monday To Friday: 9:00AM - 5:30PM</li>
                        <li>Pasific Standard Time</li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar yamm navbar-default">

        @await Component.InvokeAsync("Navbar")
        
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="flexbox-container">
                <p class="item item-left">&copy; 2016 - Code Red Performance</p>
                <img class="item item-right" src="~/images/Logo.svg" height="35" />
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
