@{
    DateTime PST = TimeZoneInfo.ConvertTime(DateTime.UtcNow, TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time"));
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Red Creations - @ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="hidden-xs">
        <div class="container">
            <div class="flexbox-container">
                <div class="item">
                    <a asp-controller="Home" asp-action="Index">
                        <img class="img-responsive" src="~/images/Logo.svg" width="300" />
                    </a>
                </div>
                <div class="item">
                    <ul class="list-unstyled">
                        <li>Email: <a href="mailto:zeketiki@gmail.com">Customer Support</a></li>
                        <li>Monday To Friday: 9:00AM - 5:30PM</li>
                        <li>Pasific Standard Time</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar yamm navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <img src="~/images/Logo-small.svg" height="25" />
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand visible-xs"><img src="~/images/Logo.svg" height="35" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li id="ddCars" class="dropdown">
                        <a id="dCars" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cars</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dCars">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="list-unstyled">
                                                <li class="dropdown-header">Nissan</li>
                                                <li><a asp-controller="Parts" asp-route-part="All" asp-route-brand="All" asp-route-car="350Z">350Z</a></li>
                                                <li class="divider"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li id="ddParts" class="dropdown">
                        <a id="dParts" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Parts</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dParts">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="list-unstyled">
                                                <li><a asp-controller="Parts" asp-route-part="Aero_Body" asp-route-brand="All" asp-route-car="All">Aero & Body</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Air_Intake" asp-route-brand="All" asp-route-car="All">Air Intakes</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Brakes" asp-route-brand="All" asp-route-car="All">Brakes</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Cooling" asp-route-brand="All" asp-route-car="All">Cooling</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Clutch_Flywheel" asp-route-brand="All" asp-route-car="All">Clutch & Flywheel</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Engine_Management" asp-route-brand="All" asp-route-car="All">Engine Management</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Electroncis" asp-route-brand="All" asp-route-car="All">Electronics</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="list-unstyled">
                                                <li><a asp-controller="Parts" asp-route-part="Endine_Dress-Up" asp-route-brand="All" asp-route-car="All">Engine Dress-up</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Engine_Parts" asp-route-brand="All" asp-route-car="All">Engine Parts</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Exhaust" asp-route-brand="All" asp-route-car="All">Exhaust</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Forced_Induction" asp-route-brand="All" asp-route-car="All">Forced Induction</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Fuel_System" asp-route-brand="All" asp-route-car="All">Fuel System</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Guages_Pods" asp-route-brand="All" asp-route-car="All">Gauges & Pods</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Intercooler" asp-route-brand="All" asp-route-car="All">Intercooler</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="list-unstyled">
                                                <li><a asp-controller="Parts" asp-route-part="Interior" asp-route-brand="All" asp-route-car="All">Interior</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Lights_Emblems" asp-route-brand="All" asp-route-car="All">Lights & Emblems</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Nitrus" asp-route-brand="All" asp-route-car="All">Nitrus</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Oils_Lubricants" asp-route-brand="All" asp-route-car="All">Oils & Lubricants</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Suspension" asp-route-brand="All" asp-route-car="All">Suspension</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Transmission_Drivetrain" asp-route-brand="All" asp-route-car="All">Transmission & Drivetrain</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Wheels_Tires" asp-route-brand="All" asp-route-car="All">Wheels & Tires</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li id="ddBrands" class="dropdown">
                        <a id="dBrands" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brands</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dBrands">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="list-unstyled">
                                                <li><a asp-controller="Parts" asp-route-part="All" asp-route-brand="Code_Red_Creations" asp-route-car="All">Code Red Creations</a></li>
                                                <li><a asp-controller="Parts" asp-route-part="Headlights" asp-route-brand="Depo" asp-route-car="350Z">Depo</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Media">Media</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="flexbox-container">
                <p class="item item-left">&copy; 2016 - Code Red Creations</p>
                <img class="item item-right" src="~/images/Logo.svg" height="35" />
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
