@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization;
@using CodeRedCreations.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IAuthorizationService AuthorizationService

<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
    <ul class="list-inline">
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Manage Account</a>
            </li>
            <li>
                <a href="#" onclick="$('#logoutForm').submit();">Log off</a>
                <noscript>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
                </noscript>
            </li>
            if (User.IsInRole("Admin"))
            {
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                </li>
            }
        }
        else
        {
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
        }
    </ul>
</form>
