@{
    ViewData["Title"] = "Our Story";
}
<h2>Our story</h2>

<p>
    Hello and thank you for checking out Code Red Performance. My name is Dakota, I’m the creator and developer of Code Red Performance. Code Red Performance currently is an online automotive aftermarket part marketplace. I have high hopes that in the near future I’ll be able to expand from just an online marketplace to opening up a physical location in Southern California. Now that you have an idea as to what Code Red Performance is and where I plan on taking the company let me give you some insight as to how Code Red Performance came to be what it is today.
</p>
<p>
    In July of 2016 I was laid off my part time job as a web developer and designer. Once this happened I planned on just focusing on school and finishing my degree in computer science. Though, without a job or any real source of income I was unable to work on my car which I worked so hard to get in the first place. So at the start of October I started work on a project, my own company, Code Red Performance.
</p>
<p>
    I first got the idea for Code Red Performance when I was looking for aftermarket parts for my Nissan 350z. I wanted to plan and price out everything I’d need, but I kept running into the same issue where I needed to go to multiple stores to get everything I needed. This made getting an accurate price of all the parts difficult, so I thought this was an area I could improve and make the whole situation better for everyone.
</p>
<p>
    Since I had the knowledge of how to develop websites I created Code Red Performance from scratch. This allowed me to have total control over the look and feel of the website. It also allows me to create any tool that could be useful or any modification that would make the user experience better. I’m able to maintain and update it without having to spend any money. This allows Code Red Performance to provide competitive pricing on all products found in our store.
</p>
<p>
    Now you know how Code Red Performance got its start and where I plan on taking the company in the future. I hope you enjoy your time here, as I’ve worked so hard to get it to this point. Though, if there’s anything that you’d like to suggest for the website or the company please let me know. I’m fully open to hearing what people have to say in hopes of making the company even better.
</p>
<br />
<p>Thank you,</p>
<p>Dakota A.</p>