@{ 
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-sm-12">
        <div class="background bg-one img-responsive" style="height: 35vh;">
            <div class="text-overlay overlay-bottom">
                <h1 class="text-center text-open">Welcome to <span class="text-red">Code Red</span> Performance</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div style="border: 1px solid #E7E7E7; border-radius: 1px;">
            <img class="img-responsive" src="http://www.aptuned.com/image/cache/data/drop-engineering/coilovers/DC-S14-95-500x500.jpg" />
            <hr />
            <p style="margin: 5px;">
                We are constantly updating our supply with the latest and greatest that automotive 
                industry has to offer. We hope you check out our expansive inventory, and 
                we're sure you'll find the part you're looking for. If you cannot seem to 
                find the correct part please contact us and we'll do everything in our power 
                to obtain the part you're looking for.
            </p>
        </div>
    </div>

    <div class="col-sm-4">
        <div style="border: 1px solid #E7E7E7; border-radius: 1px;">
            <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/originals/b2/b2/e0/b2b2e0fe2164efcdad0d5772737af5be.jpg" />
            <hr />
            <p style="margin: 5px;">
                Here at Code Red Performance our goal is to provide the best customer service. 
                This means that we're here to help answer any questions aboutparts, order 
                status, or even navigating out website. We're trying to be as transparent in 
                our ordering process as we possible can be so that we can take the guess work 
                out of ordering online.
            </p>
        </div>
    </div>

    <div class="col-sm-4">
        <div style="border: 1px solid #E7E7E7; border-radius: 1px;">
            <img class="img-responsive" src="http://66.media.tumblr.com/1633b72125a0004c40e53864af299cd0/tumblr_njzbqsij2V1rs0sjjo1_500.jpg" />
            <hr />
            <p style="margin: 5px;">
                Not only is it our goal to provide a wide selection in aftermarket automotive
                parts, but to also provide unique parts. While it's still in the early stages,
                we're in the process of creating custom composite parts for various makes and models.
                Make sure you keep your eyes on our inventory and check out the <a asp-area="" asp-controller="Parts" asp-action="CodeRedCreations">Code Red Performance</a>
                catagory to see our handmade parts.
            </p>
        </div>
    </div>
</div>