@{
    ViewBag.Title = "Home";
}
<cache expires-after="@TimeSpan.FromDays(7)">
    <div class="row">
        <div class="col-sm-12">
            <div class="background bg-one img-responsive" style="height: 35vh;">
                <div class="text-overlay overlay-bottom">
                    <h1 class="text-center text-open">Welcome to <span class="text-red">Code Red</span> Performance</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img class="img-responsive" src="~/images/HomeIndex/AB-262000.jpg" />
                <div class="caption">
                    <hr />
                    <p style="margin: 5px;">
                        We are constantly updating our supply with the latest and greatest that automotive
                        industry has to offer. We hope you check out our expansive inventory of aftermarket car products, and
                        we're sure you'll find the part you're looking for. If you cannot seem to
                        find the correct part please contact us and we'll do everything in our power
                        to obtain the part you're looking for.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img class="img-responsive" src="~/images/HomeIndex/AB-355000.jpg" />
                <div class="caption">
                    <hr />
                    <p style="margin: 5px;">
                        Here at Code Red Performance our goal is to provide the best customer service. As well as offer more aftermarket car products in one location than any other store.
                        This means that we're here to help answer any questions aboutparts, order
                        status, or even navigating out website. We're trying to be as transparent in
                        our ordering process as we possible can be so that we can take the guess work
                        out of ordering online, and remember if there's an automotive product that we don't have listed that you're interested in please let us know.
                        We'll gladly contact the manufacturer an express how our comunity has an interest in their aftermarket products.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img class="img-responsive" src="~/images/HomeIndex/AB-922000.jpg" />
                <div class="caption">
                    <hr />
                    <p style="margin: 5px;">
                        Not only is it our goal to provide a wide selection in aftermarket automotive
                        parts, but to also provide unique parts. We allow our users to request aftermarket parts from
                        any and all companies they can think of. We personally contact these companies on your
                        behalf in an attempt to get the products you requested into our store. When we're able to get the 
                        auto part you were interested in we'll contact you with a promo code to supply you with a nice discount on
                        the product you requested.
                    </p>
                </div>
            </div>
        </div>
    </div>
</cache>