@{
    ViewBag.Title = "Home";
}
<cache expires-after="@TimeSpan.FromDays(7)">
    <div class="row">
        <div class="col-sm-12">
            <div class="background bg-one img-responsive" style="height: 35vh;">
                <div class="text-overlay overlay-bottom">
                    <h1 class="text-center text-open">Welcome to <span class="text-red">Code Red</span> Performance</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img class="img-responsive" src="~/images/HomeIndex/AB-262000.jpg" />
                <div class="caption">
                    <hr />
                    <p style="margin: 5px;">
                        We are constantly updating our supply with the latest and greatest that automotive
                        industry has to offer. We hope you check out our expansive inventory, and
                        we're sure you'll find the part you're looking for. If you cannot seem to
                        find the correct part please contact us and we'll do everything in our power
                        to obtain the part you're looking for.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img class="img-responsive" src="~/images/HomeIndex/AB-355000.jpg" />
                <div class="caption">
                    <hr />
                    <p style="margin: 5px;">
                        Here at Code Red Performance our goal is to provide the best customer service.
                        This means that we're here to help answer any questions aboutparts, order
                        status, or even navigating out website. We're trying to be as transparent in
                        our ordering process as we possible can be so that we can take the guess work
                        out of ordering online.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img class="img-responsive" src="~/images/HomeIndex/AB-922000.jpg" />
                <div class="caption">
                    <hr />
                    <p style="margin: 5px;">
                        Not only is it our goal to provide a wide selection in aftermarket automotive
                        parts, but to also provide unique parts. We allow our users to request parts from
                        any and all companies they can think of. We personally contact these companies on your
                        behalf in an attempt to get the products you requested into our store.
                    </p>
                </div>
            </div>
        </div>
    </div>
</cache>