.flexbox-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
        align-items: center;
        justify-content: center;

    .item {
        margin: auto;
    }

    .item-top {
        align-self: flex-start;
    }

    .item-bottom {
        align-self: flex-end;
    }
    
    .item.item-left {
        margin: auto auto auto 0;
    }

    .item.item-right {
        margin: auto 0 auto auto;
    }
}

.flexbox-container.flex-row {
    flex-direction: row;
}

.flexbox-container.flex-col {
    flex-direction: column;
}