@import 'bootstrap-override';
@import 'variables';
@import 'flexbox';
@import 'datepicker';
@import 'scrollableTable';
@import 'jquery-ui';

body,
html {
    line-height: 1.2em;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    color: $grey;
    font-family: $open;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-shadow: rgba(0,0,0,0.01) 0 0 1px;
    -webkit-font-smoothing: antialiased;
}

header {
    order: 1;
}

ul {
    margin: 0;
}

.body-content {
    order: 2;
    flex: 1;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $grey-dark;
    background-color: $grey-light;
    order: 3;

    img {
        height: 35px;
        width: auto;
    }
}

h1, h2, h3, h4, h5, h6, strong, th, thead, dt {
    font-family: $hind;
    text-transform: uppercase;
}

a,
.btn-link {
    cursor: pointer !important;
    color: $red;
    text-decoration: none !important;
    @include transition(color .5s ease-in-out, border-color 1s ease-in-out);

    &:hover,
    &:active,
    &:focus,
    &:hover:focus {
        color: $red-dark;
    }
}
.loadedContent {
    display: none;
}
img.loading {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*hr {
    margin: 3px 0;
}*/

.tempMessage {
    display: none;
}

.copy-notification {
    color: #ffffff;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-top: -30px;
    margin-left: -110px;
    display: none;
    text-align: center;
}

//-----------------------------
//  Yamm Styles
//-----------------------------
.yamm {
    // reset positions
    .nav, .collapse, .dropup, .dropdown {
        position: static;
    }
    // propagate menu position under container for fw navbars
    .container {
        position: relative;
    }
    // by default aligns menu to left
    .dropdown-menu {
        left: auto;
    }
    // Content with padding
    .yamm-content {
        padding: 0 10px;

        .row {
            padding: 0;
        }
    }
    // Fullwidth menu
    .dropdown.yamm-fw .dropdown-menu {
        left: 0;
        right: 0;
    }
}


//-----------------------------
//  Cover Background
//-----------------------------
.background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    div.text-overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.457);
        margin: 15px 0;
        left: 15px;
        right: 15px;
        color: #F8F8F8;

        * {
            margin: 10px 0;
        }
    }

    .text-overlay.overlay-bottom {
        bottom: 0;
    }

    .text-overlay.overlay-top {
        top: 0;
    }
}

.background.banner {
    height: 30vh;
}

.background.bg-one {
    background-image: url(../images/HomeIndex/AS-206701.jpg);
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-height: 1.2em; /* fallback */
    max-height: 1.2em * 5; /* fallback */
}

@media screen and (max-width: 768px) {
    .truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-height: 1.2em; /* fallback */
        max-height: 1.2em * 3; /* fallback */
    }
}

@import 'https://fonts.googleapis.com/css?family=Hind:500|Open+Sans:300';


$open: 'Open Sans', sans-serif;
$hind: 'Hind', sans-serif;

.text-open {
    font-family: $open;
}
.text-hind {
    font-family: $hind;
}