@import 'https://fonts.googleapis.com/css?family=Hind:500|Open+Sans:300';
@import 'https://fonts.googleapis.com/css?family=Hind:500|Open+Sans:300';
.text-red {
  color: #dc1818; }

.text-grey {
  color: #6b6b6b; }

.text-open {
  font-family: "Open Sans", sans-serif; }

.text-hind {
  font-family: "Hind", sans-serif; }

.navbar .nav,
.navbar .nav > li {
  cursor: pointer;
  font-family: "Hind", sans-serif;
  text-transform: uppercase; }

.body-content.container {
  padding: 0;
  margin: 0; }

.row {
  padding: 0; }

@media screen and (min-width: 768px) {
  .navbar .nav,
  .navbar .nav > li {
    cursor: pointer;
    font-family: "Hind", sans-serif;
    text-transform: uppercase;
    float: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; }
  .navbar-collapse {
    text-align: center; }
  .body-content.container {
    padding: 0 15px;
    margin: 0 auto; }
  .row {
    padding: 15px 0; } }

.navbar-default .navbar-nav > li > a {
  color: #dc1818;
  border-width: 1px 0;
  border-style: solid;
  border-color: transparent;
  -webkit-transition: color 0.5s ease-in-out, border-color 1s ease-in-out;
  -moz-transition: color 0.5s ease-in-out, border-color 1s ease-in-out;
  -ms-transition: color 0.5s ease-in-out, border-color 1s ease-in-out;
  -o-transition: color 0.5s ease-in-out, border-color 1s ease-in-out;
  transition: color 0.5s ease-in-out, border-color 1s ease-in-out; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #a81313;
    border-color: #a81313; }

.navbar-default {
  border-width: 1px 0 0 0; }

.navbar {
  border-radius: 0; }

.navbar-nav > li > div.dropdown,
.navbar-nav > li > div.dropdown {
  line-height: 20px;
  padding: 15px 15px;
  color: #dc1818;
  border-width: 1px 0;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  -webkit-transition: color 0.5s ease-in-out, border-color 1s ease-in;
  -moz-transition: color 0.5s ease-in-out, border-color 1s ease-in;
  -ms-transition: color 0.5s ease-in-out, border-color 1s ease-in;
  -o-transition: color 0.5s ease-in-out, border-color 1s ease-in;
  transition: color 0.5s ease-in-out, border-color 1s ease-in; }
  .navbar-nav > li > div.dropdown:hover, .navbar-nav > li > div.dropdown:active, .navbar-nav > li > div.dropdown:focus, .navbar-nav > li > div.dropdown:hover:focus,
  .navbar-nav > li > div.dropdown:hover,
  .navbar-nav > li > div.dropdown:active,
  .navbar-nav > li > div.dropdown:focus,
  .navbar-nav > li > div.dropdown:hover:focus {
    color: #a81313;
    border-color: #a81313; }

.navbar-nav > li > div.dropdown > a,
.navbar-default .navbar-nav > .open > a {
  color: #dc1818;
  background-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  border-color: transparent;
  -webkit-transition: color 0.5s ease-in-out, border-color 1s ease-in;
  -moz-transition: color 0.5s ease-in-out, border-color 1s ease-in;
  -ms-transition: color 0.5s ease-in-out, border-color 1s ease-in;
  -o-transition: color 0.5s ease-in-out, border-color 1s ease-in;
  transition: color 0.5s ease-in-out, border-color 1s ease-in; }
  .navbar-nav > li > div.dropdown > a:hover, .navbar-nav > li > div.dropdown > a:active, .navbar-nav > li > div.dropdown > a.active, .navbar-nav > li > div.dropdown > a:focus, .navbar-nav > li > div.dropdown > a:hover:focus,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:active,
  .navbar-default .navbar-nav > .open > a.active,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover:focus {
    color: #a81313;
    border-color: #a81313;
    background-color: transparent; }

.dropdown-header {
  font-family: "Hind", sans-serif;
  color: #dc1818;
  text-transform: uppercase;
  padding: 3px 0; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  border-color: transparent; }

.dropdown-menu > li > div.yamm-content ul > li {
  margin: 3px 5px; }
  .dropdown-menu > li > div.yamm-content ul > li a {
    color: #6b6b6b;
    text-decoration: none !important;
    -webkit-transition: color 0.5s ease-in-out, border-color 1s ease-in-out;
    -moz-transition: color 0.5s ease-in-out, border-color 1s ease-in-out;
    -ms-transition: color 0.5s ease-in-out, border-color 1s ease-in-out;
    -o-transition: color 0.5s ease-in-out, border-color 1s ease-in-out;
    transition: color 0.5s ease-in-out, border-color 1s ease-in-out; }
    .dropdown-menu > li > div.yamm-content ul > li a:hover, .dropdown-menu > li > div.yamm-content ul > li a:active, .dropdown-menu > li > div.yamm-content ul > li a:focus, .dropdown-menu > li > div.yamm-content ul > li a:hover:focus {
      color: #a81313; }

.text-red {
  color: #dc1818; }

.text-grey {
  color: #6b6b6b; }

.text-open {
  font-family: "Open Sans", sans-serif; }

.text-hind {
  font-family: "Hind", sans-serif; }

.flexbox-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: center; }
  .flexbox-container .item {
    margin: auto; }
  .flexbox-container .item-top {
    align-self: flex-start; }
  .flexbox-container .item-bottom {
    align-self: flex-end; }
  .flexbox-container .item.item-left {
    margin: auto auto auto 0; }
  .flexbox-container .item.item-right {
    margin: auto 0 auto auto; }

.flexbox-container.flex-row {
  flex-direction: row; }

.flexbox-container.flex-col {
  flex-direction: column; }

body,
html {
  padding: 0;
  margin: 0; }

body {
  color: #6b6b6b;
  font-family: "Open Sans", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-font-smoothing: antialiased; }

header {
  order: 1; }

ul {
  margin: 0; }

.body-content {
  order: 2;
  flex: 1; }

footer {
  margin-top: 20px;
  padding: 10px 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #E7E7E7;
  background-color: #F8F8F8;
  order: 3; }
  footer img {
    height: 35px;
    width: auto; }

h1, h2, h3, h4, h5, h6, strong, th, thead, dt {
  font-family: "Hind", sans-serif;
  text-transform: uppercase; }

a,
.btn-link {
  color: #dc1818;
  text-decoration: none !important;
  -webkit-transition: color 0.5s ease-in-out, border-color 1s ease-in-out;
  -moz-transition: color 0.5s ease-in-out, border-color 1s ease-in-out;
  -ms-transition: color 0.5s ease-in-out, border-color 1s ease-in-out;
  -o-transition: color 0.5s ease-in-out, border-color 1s ease-in-out;
  transition: color 0.5s ease-in-out, border-color 1s ease-in-out; }
  a:hover, a:active, a:focus, a:hover:focus,
  .btn-link:hover,
  .btn-link:active,
  .btn-link:focus,
  .btn-link:hover:focus {
    color: #a81313; }

.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
  position: static; }

.yamm .container {
  position: relative; }

.yamm .dropdown-menu {
  left: auto; }

.yamm .yamm-content {
  padding: 0 10px; }
  .yamm .yamm-content .row {
    padding: 0; }

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0; }

.background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .background div.text-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.457);
    margin: 15px 0;
    left: 15px;
    right: 15px;
    color: #F8F8F8; }
    .background div.text-overlay * {
      margin: 10px 0; }
  .background .text-overlay.overlay-bottom {
    bottom: 0; }
  .background .text-overlay.overlay-top {
    top: 0; }

.background.banner {
  height: 30vh; }

.background.bg-one {
  background-image: url("https://images5.alphacoders.com/499/499290.jpg"); }

.background.bg-two {
  background-image: url("https://images5.alphacoders.com/499/499290.jpg"); }

.background.bg-three {
  background-image: url("https://images5.alphacoders.com/499/499290.jpg"); }

